{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'electron/css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <title>Todo List</title>
</head>

<body>
<header class="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="menu-block">
            <a href="{% url 'home' %}"><i class="bi bi-house-fill"></i> Home</a>
            {% block header %}

            {% endblock header %}
        </div>
        <div class="form-inline my-2 my-lg-0" style="padding-left: 180px">
            {% if request.user.is_authenticated %}
                <a href="#" class="welcome">Hi, {{ request.user.name | title }}!</a>
                <a href="{% url 'logout' %}" class="btn btn-outline">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline">Login</a>
                <a href="{% url 'register' %}" class="btn btn-register">Signup</a>
            {% endif %}
        </div>
        <div class="shopping-cart" style="padding-right: 20px">
            <div class="cart">
                <i class="bi bi-cart4" id="main-cart" style="display: inline-block; margin-bottom: -10px"></i>
                <div class="total-text">
                    <span id="items">Items</span>
                    <span id="items-basket" style="display: inline-block; padding-bottom: 1px"></span>
                </div>
            </div>
            <div id="cart-items" style="margin-right: -15px">
                <ol id="list-item">
                </ol>

                <div class="total-text">
                    <p>Total: </p>
                    <div class="block-checkout">
                        <span id="total-price"></span>
                        <a href="{% url 'checkout' %}" id="checkout-button" style="text-decoration: none"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-modal" id="myModal">
            <div class="modal-shopping-cart">
                <div class="header-title">
                    <h3 style="overflow: hidden; font-size: 20px; white-space: nowrap; text-overflow: ellipsis;; ">
                        Shopping Cart
                    </h3>
                    <span class="x-mark" id="shopping-cart-x-mark">
                        <i class="fa-solid fa-xmark fa-xl"></i>
                    </span>
                </div>
                <div class="shopping-cart-content">
                    <div class="cart-block">
                        <ul class="cart-list">
                            <li class="cart-list-item">
                                <div class="cart-product">
                                    <div class="cart-product-body">
                                        <a class="cart-product-image" href="#">
                                            <img class="product-image">
                                        </a>
                                        <div class="cart-product-main" style="flex-grow: 1;">
                                            <a href="" class="cart-product-title"></a>
                                        </div>
                                        <button class="button-popup-delete">
                                            <span><i class="fa-solid fa-ellipsis-vertical"
                                                     style="color: #3e77aa;"></i></span>
                                        </button>
                                    </div>
                                    <div class="cart-product-footer">
                                        <div class="cart-counter">
                                            <button class="sub-item"><span><i
                                                    class="fa-solid fa-minus fa-xl"></i></span>
                                            </button>
                                            <input type="text" value="1" _size_medium class="cart-counter-input">
                                            <button class="add-item"><span><i class="fa-solid fa-plus fa-xl"></i></span>
                                            </button>
                                        </div>
                                        <div class="cart-product-coast">
                                            <p class="cart-product-price">2999<span>$</span></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="cart-receipt">
                            <div class="cart-receipt-sum">
                                <p class="cart-receipt-label" style="font-size: 20px">Итого</p>
                                <span><span class="sum-currency"
                                            style="margin-left: auto; font-size: 20px;">$</span></span>
                            </div>
                            <a href="{% url 'checkout' %}"><span id="checkout-button"
                                                                 style="font-size: 18px; font-weight: 500; height: 48px; line-height: 48px"> Оформить заказ </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class=" container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>
</main>
<footer class="footer">
    <div class="container">
        <p>&copy; Copyright {% now "Y" %} by Berserkletron</p>
    </div>
</footer>
<script src={% static "electron/js/script.js" %}></script>
</body>

</html>