{% extends 'electron/base.html' %}
{% block header %}

{% endblock header %}
{% block content %}
    <div class="block-brand">
        <div class="block-brand-list">
            <ul class="list_sub_category">
                {% for sub_cat in current_sub_category_list %}
                    <li class="item_sub_category">
                        <a href="{% url 'sub_category' sub_category=sub_cat.slug %}" class="item_sub_category_link">
                            <img src="{{ sub_cat.image.url }}" alt="" class="cat_img">
                            <span class="item-text">{{ sub_cat.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}