{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'electron/css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.4/jquery.rateyo.min.css">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.4/jquery.rateyo.min.js"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
</head>
<body>
<div class="block-order-checkout" style="width: 90%; height: 100%; margin-left: 4%">
    <h1 style="color: black; display: inline-block; margin: 10px 0 0 0">BERSERKLETRON</h1>
    <br>
    <hr style="width: 100%; background-color: #d2d2d2; display: inline-block;">
    <br><br>
    <h2 style="color: black">
        Оформление заказа
    </h2>
    <div class="block-info-order" style="width: 25%; position: fixed; top: 23%; right: 5%">
        <div class="promocode"
             style="color: black; font-size: 16px; background-color: #f5f5f5; line-height: 50px; border: 1px solid #e9e9e9; border-radius: 5px">
            <h4 style="display: inline-block; margin-left: 15px">Промокод</h4>
            <button class="add-promocode">
                Добавить
            </button>
        </div>
        <div class="info-order"
             style=" background-color: #f5f5f5; margin-top: 10px; color: black; line-height: 50px; border: 1px solid #e9e9e9; border-radius: 5px; max-height: 380px; padding: 20px">
            <h4 style="font-size: 28px; margin-bottom: 16px;">Итого</h4>
            <dl>
                <dt class="orders-count" style="display: inline-block; color: #797878; font-size: 14px"></dt>
                <dd class="orders-price"
                    style="display: inline-block; font-size: 18px; float: right;" id="amount"></dd>
            </dl>
            <dl>
                <dt class="price-delivery"
                    style="display: inline-block; line-height: 25px; color: #797878; font-size: 14px; max-width: 100px;">
                    Стоимость
                    доставки
                </dt>
                <dd class="tarif-delivery"
                    style="display: inline-block; font-size: 14px; float: right; font-weight: 700;">по тарифам
                    перевозчика
                </dd>
                <hr style="background-color: #d2d2d2">
            </dl>
            <dl style="line-height: 80px">
                <dt class="to-payment"
                    style="display: inline-block; line-height: 25px; color: #797878; font-size: 14px; max-width: 100px;">
                    К оплате
                </dt>
                <dd class="orders-price"
                    style="display: inline-block; font-size: 24px; float: right; font-weight: 500;">
                </dd>
                <hr style="background-color: #d2d2d2">
            </dl>
            <div class="orders-checkout-button" style="margin: 20px 0;">
                <input class="button-checkout" type="submit" value="Заказ подтверждаю">
            </div>
        </div>
    </div>
    <br>
    <button class="deliveries-city" id="Btn"
            style="display: flex; align-items: center; gap: 10px; padding-left: 10px">
        <i class="fa-solid fa-location-dot fa-xl" style="color: black; "></i>
        <span class="region" id="location"></span>
        <span class="change-place">
            <i class="fa-regular fa-pen-to-square fa-xl" style="align-content: center">
            </i> Изменить
        </span>
    </button>
    <p class="validation_type_error " style="">Enter your region and city</p>
    <div class="wrap-modal" id="myModal">
        <div class="modal-change-city">
            <div class="header-title">
                <h3 style="overflow: hidden; font-size: 20px; white-space: nowrap; text-overflow: ellipsis; color: black">
                    Выберите свой город
                </h3>
                <span class="x-mark" id="shopping-cart-x-mark"><i class="fa-solid fa-xmark fa-xl">
            </i></span>
            </div>
            <div class="modal-content" style="border: none">
                <p class="header-location" style="color: #a6a5a5; display: inline-block; margin: 15px 0 15px 15px">
                    <i class="fa-solid fa-truck fa-shake fa-lg"
                       style="display: inline-block; padding-right: 10px">
                    </i>Доставляем заказы по всей Украине!
                </p>
                <ul class="header-location-popular">
                    <li><span data-main-location="Київ">Київ</span></li>
                    <li><span data-main-location="Харків">Харків</span></li>
                    <li><span data-main-location="Одеса">Одеса</span></li>
                    <li><span data-main-location="Дніпропетровськ">Дніпропетровськ</span></li>
                    <li><span data-main-location="Запоріжжя">Запоріжжя</span></li>
                    <li><span data-main-location="Львів">Львів</span></li>
                </ul>
                <div class="location-search">
                    <fieldset class="form-row" style="border: none">
                        <label for="city-location" class="form-label" style="color: #797878; font-size: 12px">
                            Введите населенный пункт Украины
                        </label>
                        <input class="region-location" type="text" name="city-location">
                        <div class="search-post-office">
                            <div class="region-post-office">
                                <ul class="region-post-office-list" style="margin-bottom: 0">
                                </ul>
                            </div>
                        </div>
                        <p class="location-search-example" style="margin: 24px 0; font-size: 14px; color: #a6a5a5;">
                            Например,
                            <a href="#" class="link-dotted">
                                Котюжины </a>
                        </p>
                    </fieldset>
                    <fieldset style="border: none;">
                        <div class="return-main_page"
                             style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 16px;">
                            <a href="http://127.0.0.1:8000/" class="button-link-main-page"> Перейти на главную
                                страницу </a>
                            <button class="button-apply" disabled style="color: #a6a5a5">Применить</button>
                        </div>
                    </fieldset>
                    <p style="padding-top: 24px; font-size: 14px; color: #a6a5a5;">Выбор города поможет предоставить
                        актуальную информацию о наличии товара, его цены и способов доставки в вашем городе! Это
                        поможет
                        сохранить больше свободного времени для вас!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-order" style="margin-top: 48px; width: 70%">
        <div class="checkout-order-header"
             style="display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 4px">
            <h2 class="order-number" style="font-weight: 700; color: black; line-height: 28px">Заказ</h2>
            <p class="checkout-order-total" style="font-size: 16px; color: black"> на сумму: <b
                    style="font-weight: 700;"><span
                    class="orders-price"><span
                    class="currency" style="margin-left: 4px;">$</span></span></b></p>
        </div>
        <div class="check-order">
            <fieldset class="checkout-block" style="margin-bottom: 24px; border: none">
                <p style="display: flex;align-items: center; font-size: 14px; line-height: 17px;">
                <div class="company-name" style="color: black; font-size: 14px; margin-bottom: 14px">Продавец: <span
                        style="color: black; font-weight: 600; font-size: 14px">BERSERKLETRON</span>
                </div>
                </p>
                <div class="checkout-orders-header"
                     style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 8px">
                    <h3 style="font-size: 16px; font-weight: 700; color: black">
                        Товары</h3>
                    <a href="http://127.0.0.1:8000/">
                    <span class="change-orders">
                    <i class="fa-regular fa-pen-to-square fa-xl">
                    </i> Редактировать
                    </span>
                    </a>
                </div>
                <ul class="list-orders" style="list-style-type: none">
                </ul>
            </fieldset>
            <fieldset class="checkout-block" style="border: none;">
                <legend class="checkout-block-title">
                    Доставка
                </legend>
                <div class="type-warning">
                    Независимо от способа оплаты, фактическое получение товара возможно только согласно временным и
                    количественным ограничениям на продажу алкоголя в вашем регионе.
                </div>
                <ul style="list-style: none">
                    <li>
                        <div class="block-delivery-company">
                            <div class="block-delivery-company-header">
                                <input class="checkout-radio" checked type="radio" style="margin-right: 10px">
                                <label class="checkout-variant-label"></label>
                                <span class="radio-span">Самовывоз из Новой Почты
                                </span>
                                <span style="color: black; margin-left: auto">89 $
                                    </span>
                            </div>
                            <div class="block-delivery-company-content">
                                <div class="search-post-office">
                                    <button class="button-choice-place">
                                        <span id="postOfficeAddress"></span>
                                        <i class="fa-solid fa-greater-than fa-rotate-90"
                                           style="margin-left: auto; margin-right: 15px; height: 15px; width: 15px"></i>
                                    </button>
                                    <p class="validation_type_error " style="">Enter post office address</p>
                                    <div class="post-office" id="postOffice">
                                        <input class="search-delivery" id="value"
                                               placeholder="Введите адрес или номер отделения" type="text"/>
                                        <ul class="post-office-list">
                                        </ul>
                                    </div>
                                </div>
                                <button class="button-map-choice">
                                    <i class="bi bi-map fa-xl"
                                       style="display: inline-block; margin-right: 12px"></i><span
                                        style="font-size: 16px; display: flex; height: 40px; align-items: center;">Выбрать на карте</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </fieldset>
            <div class="block-payment">
                <div class="header-payment">
                    <span class="header-title-payment">Оплата</span>
                </div>
                <ul class="block-content-payment">
                </ul>
            </div>
            <div>
                <span class="header-title-recipient">Отримувач замовлення</span>
            </div>
            <form id="formOrder" style="appearance: none; max-height: 600px;
            " method="POST">
                <div class="input-field" style="height: 90px; display: flex">
                    <div style="display: inline-block; width: 49%; height: 88px">
                        <label for="firstname"
                               style="display: inline-block; margin-left: 1%; color: black; font-size: 14px">
                            Имя
                        </label>
                        <input name="firstname" id="checkoutName" value="{{ user.name }}" type="text"
                               style="border: 1px solid black; line-height: 30px; border-radius: 10px; width: 100%"/>
                    </div>
                    <div style="display: inline-block; width: 49%; margin-left: 1%; height: 88px">
                        <label for="lastname"
                               style="display: inline-block; margin-left: 1%; color: black; font-size: 14px">
                            Фамилия
                        </label>
                        <input name="lastname" id="checkoutLastName" type="text" value="{{ user.last_name }}"
                               style="border: 1px solid black; line-height: 30px; border-radius: 10px"/>
                    </div>
                </div>

                <div class="input-field" style="display: flex">
                    <div style="display: inline-block; width: 49%; height: 90px">
                        <label for="email"
                               style="display: inline-block; margin-left: 1%; color: black; font-size: 14px">Електронная
                            почта
                        </label>
                        <input name="email" id="checkoutEmail" type="email" value="{{ user.email }}"
                               style="border: 1px solid black; line-height: 30px; border-radius: 10px"/>
                    </div>
                    <div style="display: inline-block; width: 49%; margin-left: 1%; height: 90px">
                        <label for="phone_number"
                               style="display: inline-block; margin-left: 1%; color: black; font-size: 14px">Мобильный
                            телефон
                        </label>
                        <input name="phone_number" id="checkoutPhoneNumber" type="text" value="{{ user.phone_number }}"
                               style="border: 1px solid black; line-height: 30px; border-radius: 10px"/>
                    </div>
                </div>
                <button class="userData" type="submit">
                    Сохранить
                </button>
            </form>
            <div class="blockPersonInfo">
                <div class="personInfo"></div>
            </div>
            <div class="wrap-modal-success" id="myModal">
                <div class="modal-success">
                    <div style="display: flex;">
                        <i class="fas fa-check-circle" id="check-circle"></i>
                    </div>
                    <div style="text-align: center; font-size: 28px; color: black">
                        <span>Successfully placed your order</span>
                    </div>
                    <button id="button-OK">OK</button>
                </div>
            </div>
            <div class="wrap-modal-error" id="myModal">
                <div class="modal-success">
                    <div style="display: flex;">
                        <i class="fa-solid fa-circle-xmark" id="x-circle"></i>
                    </div>
                    <div style="text-align: center; font-size: 28px; color: black">
                        <span>Your order was not successfully placed</span>
                    </div>
                    <button id="button-Error" style="background-color: #c52020">ERROR</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src={% static "electron/js/script.js" %}></script>
</body>
</html>