{% extends 'electron/base.html' %}
{% block header %}
    {% for object in category_list %}
        <a href="{% url 'category' category_slug=object.slug %}">{{ object.name }}</a>
    {% endfor %}
{% endblock header %}
{% block content %}
    <li class="item" id="detail_card" data-price={{ object.price }} data-name={{ object.name }}>
        <h4 data-product-id={{ object.slug }}></h4>
        <img class="img_detail" src="{{ detail.image.url }}">
        <h2>{{ detail.name }}</h2>
        <h3>{{ detail.price }}₴</h3>
        <button class='glowing-btn' style="width: 194px"><span class='glowing-txt'>Ку<span
                class='faulty-letter'>пи</span>ть</span>
        </button>
    </li>
{% endblock %}