{% extends 'electron/base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block content %}
    <ul class="container_product_list">
        <div class="block_filter">
            <button class="block_brand_filter" id="Brand">
                <span class="filter_name">Brand<span class="all_amount_brands">{{ all_brands }}</span></span>
                <i class="fa-solid fa-angle-up" data-transform="rotate"></i>
            </button>
            <div class="block_brand"
                 style="position: relative; padding-bottom: 20px; height: 70px">
                <div id="vert_scroll" style="height: 100%; width: 235px; overflow-y: auto">
                    <div style="width: 233px">
                        <ul class="checkbox_filter">
                            <li class="brand_item">
                                <a class="checkbox_filter_link"
                                   data-filter-value="{{ products.0.brand }}" data-filter-name="brand"
                                   data-page="{{ current_page }}">
                                    {{ products.0.brand }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="scroll_holder">
                </div>
            </div>
            <hr style="margin: 0 -8px 0 -8px">
            <div class="block_price_scroll">
                <button class="button_price_scroll" id="Price">
                    <span class="tite_price_scroll">Price</span>
                    <i class="fa-solid fa-angle-up" data-transform="rotate"></i>
                </button>
                <div class="wrapper">
                    <div class="price-filters" style="margin-bottom: 20px">
                        <input type="text" id="price-filter-min"
                               aria-label="Minimum price for filtering products">
                        <span style="margin-left: 4px; margin-right: 4px; color: #a6a5a5;"> - </span>
                        <input type="text" id="price-filter-max">
                        <button class="button_OK">OK</button>
                    </div>
                    <div id="slider-range" data-price-min="1550" data-price-max="59809"
                         style="margin-bottom: 30px"></div>
                </div>
                <div id="initialValue" style="display: flex"><span
                        style="margin-left: auto; cursor: pointer; color: #3e77aa">Initial price</span>
                </div>
            </div>
            <hr style="margin: 0 -8px 0 -8px">
        </div>

        <div class="block_product_list_and_pagination">
            <div id="product-list" class="block_product_list" data-start="5">
                {% for product in products %}
                    <li class="item" data-price={{ product.price }} data-image={{ product.image.url }}
                        data-name={{ product.name }} data-brand={{ product.brand }} data-color={{ product.color }}>
                        <h4 data-product-id={{ product.id }}></h4>
                        <img class="contain" src="{{ product.image.url }}" alt="Card image cap">
                        <a href="{% url 'detail' detail_slug=product.slug %}"
                           class="product_name">{{ product.name }}</a>
                        <div style="display: flex; align-items: center; text-align: center; justify-content: space-between">
                            <h3 style="margin-bottom: 0; color: #f84147; font-size: 20px">{{ product.price }}₴</h3>
                            <button class="glowing"><i class="bi bi-cart4 fa-xl" style="color:#00a046;"></i>
                            </button>
                        </div>
                        <div style="display: flex; align-items: center; text-align: center; margin-top: 10px">
                            <span style="color: #00a046; font-size: 12px;">Готов к отправке</span>
                            <i class="fa-solid fa-truck"
                               style="color: #00a046; margin-left: 10px; width: 16px; height: 16px"></i>
                        </div>
                    </li>
                {% endfor %}
            </div>
            <div class="blockPagination"
                 style=" width: 100%; justify-content: center; align-content: center; align-items: center; margin: 0 auto">
                <a href="?page={{ prev_page }}" class="ArrowLeft">
                    <img src="{% static 'electron/images/left.png' %}" alt="" class="ArrowImg">
                </a>
                <ul class="paginationList" style="margin-bottom: 0">
                    {% for page in amount_pages %}
                        <li class="paginationItem" style="width: 42px; height: 41px">
                            <a href="?page={{ page }}" class="paginationLink">{{ page }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="?page={{ next_page }}" class="ArrowRight">
                    <img src="{% static 'electron/images/next.png' %}" alt="" class="ArrowImg">
                </a>
            </div>
        </div>
    </ul>
{% endblock content %}